.flex-container {
  display: flex;
  flex-direction: row-reverse; 
  padding-top: 30%;
  padding-right: 30%;
  padding-bottom: 30%;
  
}


.flex-item {
	font-style: bold;
  color: #C3D0D9;
  border: 1px solid #C3D0D9;
  width: 5%;
  height: 10%;
  font-size: 1.3em;
  text-align: center;
  padding: 1%;
  margin: 0.5%;
  border-radius: 10px;
}